.sign-in {
  position: relative;
  width: 1463px;
  height: 1024px;
  background-color: #eaeaea;
}

.sign-in .header {
  position: absolute;
  width: 1463px;
  height: 78px;
  top: 0;
  left: 0;
}

.sign-in .component-thng-itn {
  position: absolute;
  width: 610px;
  height: 433px;
  top: 316px;
  left: 426px;
  background-color: #d9d9d9;
  border-radius: 12px;
}

.sign-in .overlap {
  position: relative;
  height: 433px;
  background-color: #d9d9d98f;
  border-radius: 10px;
  box-shadow: 0px 4px 61.7px 7px #00000040;
}

.sign-in .area-signin {
  position: absolute;
  width: 530px;
  height: 133px;
  top: 135px;
  left: 42px;
}

.sign-in .overlap-group {
  position: absolute;
  width: 526px;
  height: 46px;
  top: 0;
  left: 0;
  background-color: #eaeaea;
  border-radius: 9px;
}

.sign-in .account-avatar-head {
  position: absolute;
  width: 26px;
  height: 27px;
  top: 10px;
  left: 16px;
  object-fit: cover;
}

.sign-in .text-wrapper {
  position: absolute;
  width: 216px;
  height: 24px;
  top: 13px;
  left: 50px;
  font-family: "Roboto", Helvetica;
  font-weight: 200;
  font-style: italic;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .div {
  position: absolute;
  width: 526px;
  height: 44px;
  top: 89px;
  left: 0;
  background-color: #eaeaea;
  border-radius: 9px;
}

.sign-in .eye-closed-svgrepo {
  position: absolute;
  width: 28px;
  height: 27px;
  top: 10px;
  left: 482px;
  object-fit: cover;
}

.sign-in .password-svgrepo-com {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 10px;
  left: 15px;
}

.sign-in .p {
  position: absolute;
  width: 177px;
  height: 24px;
  top: 12px;
  left: 50px;
  font-family: "Roboto", Helvetica;
  font-weight: 200;
  font-style: italic;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .logo {
  position: absolute;
  width: 219px;
  height: 70px;
  top: 32px;
  left: 194px;
  background-image: url(./img/logo.png);
  background-size: cover;
  background-position: 50% 50%;
}

.sign-in .button-sign-in {
  position: absolute;
  width: 148px;
  height: 42px;
  top: 313px;
  left: 233px;
}

.sign-in .div-wrapper {
  position: relative;
  width: 146px;
  height: 42px;
  background-color: #eaeaea;
  border-radius: 15px;
}

.sign-in .text-wrapper-2 {
  position: absolute;
  width: 115px;
  height: 28px;
  top: 7px;
  left: 15px;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
