* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.22);
  background: #e2e2e2;
  color: #000;
  text-align: center;
  font-family: Consolas;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%; /* 0px */
}

html {
  width: 100%;
  height: 100%;
}
/* nav  */
nav {
  background-color: #eaeaea;
  width: 100%;
  height: 100px;
  position: relative;
}
nav img {
  top: 25px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 10vh;
}

nav .btn_exit {
  position: absolute;
  width: 150px;
  height: 45px;
  background-color: #ff4040;
  border-radius: 7px;
  top: 30px;
  right: 30px;
  color: #fff;
  text-align: center;
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav .btn_exit:hover {
  color: #000;
  transition: 2s;
}

/* body */

.monitor {
  width: 100%;
  background-color: #fff;
  /* background: #ebebeb; */
}
.container {
  margin: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 45% 15%;
  height: 10vh;
}

.btn.infor_exam,
.btn.list_student {
  width: 226px;
}

.btn.enter {
  margin-left: auto;
  width: 410px;
}

.btn.search {
  color: #868686;
  text-align: center;
  font-family: Consolas;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 0%;
  margin-left: 20px;
  width: 70px;
}

/* content */
.content {
  margin: 20px;
  display: flex;
  width: 100%;
  height: 100%;
}

.function_left {
  position: relative;
  height: 415px;
  width: 20%;
  border-radius: 5px;
  background: #bebebe;
}
.function_right {
  height: 100vh;
  width: 77%;
}

/* Thêm CSS sau vào trong file style.css */
.grid-container {
  margin-top: 25px;
  right: 40px;
  position: absolute;
  color: #000;
  text-align: center;
  font-family: Consolas;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
  width: 300px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
}

.grid-container img {
  margin-left: 30px;
  height: 35px;
}

.grid-container button,
.grid-container img {
  width: 100%;
}
.table-container {
  overflow-x: auto;
}

.row {
  margin-left: 20px;
  overflow-x: auto;
  overflow-y: auto;
  height: 415px;
  width: 100%;
}
.horizontal-row {
  /* Thêm thanh cuộn dọc khi cần */ /* Chiều cao cụ thể */
  width: 100%;
}

.horizontal-row th,
.horizontal-row td {
  border: 1px solid black;
  padding: 8px;
}

.horizontal-row thead th {
  background-color: #a9b9d7ed;
}

.horizontal-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.horizontal-row tbody th,
.horizontal-row tbody td {
  border: 1px solid black;
}

.select {
  display: flex;
  padding: 25px 15px;
  gap: 15px;
}

.select button {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #f9f9f9;
}

.select button.select1 img {
  position: absolute;
  color: #000;
}

.select button.select2 img {
  position: absolute;
  color: #000;
}
