@page "/Result"
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kết quả</title>
  <!-- Liên kết tới tệp CSS cục bộ -->
  <link rel="stylesheet" href="./css/Result/style.css">
  <!-- Liên kết tới tệp CSS của Bootstrap từ CDN -->

</head>
<body>
<!-- Header của trang web -->
<header class="header fiexd">
  <div class="main-content">
    <div class="body">
      <!-- Logo -->
      <img src="./images/exam/Logo.svg" alt="" class="logo" />
        
      <!-- Thời gian -->
      <div class="time">
        <img src="./images/exam/clock-stand-svgrepo-com%201.svg" alt="" class="logo_time" />
        <h3>Thời Gian :</h3>
      </div >

       <!-- Button Exit -->
            <nav class="nav">
              <button class="btn btn-exit btn-hover "  >Thoát</button>
            </nav>
    </div>
  </div>
</header>

<!-- Main Result -->
<div class="main-result">
  <!-- Phần chứa thông tin kết quả -->
  <div class="imformation-container">
    <!-- Hình ảnh -->
    <div class="img-container">
      <img src="./images/exam/Logo.svg" alt="Logo Universities">
    </div>
    <!-- Các thông tin cơ bản -->
    <div class="layout-left">
      <!-- Thông tin của học sinh và kết quả thi -->
      <div class="information-student">
        <div class="label">
          @* <h1>Kết quả thi</h1><input type="text" class="show-text hidden" readonly> *@
          <h3>Ca thi :</h3><input type="text" class="show-text" readonly>
          <h3>Môn thi :</h3><input type="text" class="show-text" readonly>
          <h3>Mã đề :</h3><input type="text" class="show-text" readonly>
          <h3>MSSV :</h3><input type="text" class="show-text" readonly>
          <h3>Họ và tên :</h3><input type="text" class="show-text" readonly>
          <h3>Ngày thi :</h3><input type="text" class="show-text" readonly>
        </div>
      </div>
      <!-- Các ô hiển thị kết quả -->
      <div class="result-score">
        <div class="result-box">
          <input type="text" class="show-result" readonly>
          <input type="text" class="show-result" readonly>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item item-1">1</div>
      <div class="grid-item item-2">2</div>
      <div class="grid-item item-3">3</div>
      <div class="grid-item item-4">4</div>
      <div class="grid-item item-5">5</div>
      <div class="grid-item item-6">6</div>
      <div class="grid-item item-7">7</div>
      <div class="grid-item item-8">8</div>
      <div class="grid-item item-9">9</div>
      <div class="grid-item item-10">10</div>
      <div class="grid-item item-11">11</div>
      <div class="grid-item item-12">12</div>
      <div class="grid-item item-13">13</div>
      <div class="grid-item item-14">14</div>
      <div class="grid-item item-15">15</div>
      <div class="grid-item item-16">16</div>
      <div class="grid-item item-17">17</div>
      <div class="grid-item item-18">18</div>
      <div class="grid-item item-19">19</div>
      <div class="grid-item item-20">20</div>
      <div class="grid-item item-21">21</div>
      <div class="grid-item item-22">22</div>
      <div class="grid-item item-23">23</div>
      <div class="grid-item item-24">24</div>
      <div class="grid-item item-25">25</div>
      <div class="grid-item item-26">26</div>
      <div class="grid-item item-27">27</div>
      <div class="grid-item item-28">28</div>
      <div class="grid-item item-29">29</div>
      <div class="grid-item item-30">30</div>
      <div class="grid-item item-31">31</div>
      <div class="grid-item item-32">32</div>
      <div class="grid-item item-33">33</div>
      <div class="grid-item item-34">34</div>
      <div class="grid-item item-35">35</div>
      <div class="grid-item item-36">36</div>
      <div class="grid-item item-37">37</div>
      <div class="grid-item item-38">38</div>
      <div class="grid-item item-39">39</div>
      <div class="grid-item item-40">40</div>
      <div class="grid-item item-41">41</div>
      <div class="grid-item item-42">42</div>
      <div class="grid-item item-43">43</div>
      <div class="grid-item item-44">44</div>
      <div class="grid-item item-45">45</div>
      <div class="grid-item item-46">46</div>
      <div class="grid-item item-47">47</div>
      <div class="grid-item item-48">48</div>
      <div class="grid-item item-49">49</div>
      <div class="grid-item item-50">50</div>
      <div class="grid-item item-51">51</div>
      <div class="grid-item item-52">52</div>
      <div class="grid-item item-53">53</div>
      <div class="grid-item item-54">54</div>
      <div class="grid-item item-55">55</div>
      <div class="grid-item item-56">56</div>
      <div class="grid-item item-57">57</div>
      <div class="grid-item item-58">58</div>
      <div class="grid-item item-59">59</div>
      <div class="grid-item item-60">60</div>
    </div>
  </div>
</div>
  
<!-- Footer -->
@*<footer class="p-3 mt-4 align-self-center border-top">
    <span>&copy; 2024 Website Test Exam Copyright with TLDD</span>
  </footer>*@

</body>
</html>


<script>
  // Lắng nghe sự kiện click trên nút "Thoát"
  document.querySelector('.btn-exit').addEventListener('click', function() {
      // Hiển thị hộp thoại xác nhận
      var confirmation = confirm("Bạn có muốn thoát không?");
      // Nếu người dùng nhấn OK, thực hiện hành động thoát
      if (confirmation) {
          // Chuyển hướng đến trang đăng nhập
          window.location.href = "/Login"; // Đường dẫn của trang đăng nhập

      } else {
          // Nếu người dùng chọn hủy, không làm gì cả
          return false;
      }
  });
</script>
