@page "/signin"
@using GettingStarted.Client.DAL
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="./css/SignIn/SignIn.css"/>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Login Form -->
        <div class="sign-in">
            <header>
                <div class="header">
                    <img class="logohead" src="images/exam/Logo.svg">
                    <div class="current-time"></div>
                    <!--code time-->


                </div>
            </header>

            <div class="component-thng-itn">
                <div class="overlap">
                    <div class="area-signin">
                        <div class="input-student-id">
                            <img class="icon-id" src="images/exam/account-avatar-head-svgrepo-com-1.png">
                            <input class="input-id" type="text" name="signin" placeholder="Nhập mã số sinh viên" @bind="mssv">
                        </div>
                        <div class=" input-student-pass">
                            <img class="icon-pass" src="images/exam/password-svgrepo-com-1.svg">
                            <input class="input-pass" type="text" name="signin" placeholder="Nhập password" @bind="pass">
                            <button class="btn-see" >
                                <img class ="icon-see" src="images/exam/eye-closed-svgrepo-com-1.png" />
                            </button>
                            
                        </div>
                    </div>
                    <img class="logo" src="images/exam/Logo.svg">
                    <button type="button" class="button-sign-in" @onclick="VerifyPass">Đăng nhập</button>

                </div>
            </div>
        </div>


    </div>
</div>
