@page "/test"
@using GettingStarted.Client.DAL
@using GettingStarted.Shared.Models
<h3>Test</h3>
@foreach(var chiTietTungDapAn in myData.listSVKhoanh)
{
    <p>@chiTietTungDapAn</p>
}

@code {
    [Inject]
    ApplicationDataService myData { get; set; }

}
